<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} | PagerBeauty</title>
    <link rel="stylesheet" href="/assets/stylesheets/application.css">
    <script src="/assets/javascripts/application.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  </head>
  <body>
    {% block content %}Content{% endblock %}
  </body>
</html>
