{% set title = 'Schedule ' + (oncall.schedule.name or 'not found') %}
{% extends 'layout.html.j2' %}

{% block content %}
{# {{ oncall | dump }} #}

<div class="on_call_root {% if theme %}theme-{{theme}}{% endif %}" data-id="{{ oncall.schedule.id }}"></div>
{# <div class="on_call_root theme-aprilfools {% if theme %}theme-{{theme}}{% endif %}" data-id="{{ oncall.schedule.id }}"></div> #}

{% endblock %}
