body {
  font-family: 'Roboto Mono', monospace;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#container {
  font-size: 20px;
  border: 2px solid #25c151;
  width: 95%;
  color: #454545;
  margin: 2.5vw;
}

#container.not_found {
  border: 2px solid #fecb2e;
}

#container.not_found  #title, #container.not_found #date {
  background-color: #fecb2e;
}
#container.not_found #schedule, #container.not_found #person {
  border-bottom: 1px solid #fecb2e;
  text-align: center;
}
#container.not_found .error {
  font-size: 10vw;
  width: 90%;
  padding: 1vw;
}
#container.not_found #person_photo img {
  border: 1px solid #fecb2e;
}

#schedule, #person, #date {
  display: flex;
  justify-content: space-around;
}
#title, #date {
  text-align: center;
  background-color: #25c151;
  color: white;
}

#schedule, #person {
  border-bottom: 1px solid #25c151;
}
#date span {
  margin-top: 2%;
}

#schedule, #person_photo, #person_name ,#date_from, #date_to, #title {
  padding: 1vw;
  text-align: center;
}

#schedule {
  font-size: 4vw;
}

#person_photo img {
  border: 1px solid #343434;
  width: 20vw;
  margin-top: 3vw;
  margin-left: 1vw;
}
#person_name {
  font-size: 10vw;
  width: 90%;
}

#next_information {
  display: none;
  font-size: 15px;
  padding: 10px;
  text-align: center;
  color: gray;
}

#date_from {
  margin-left: 6vw;
}
#date_to {
  margin-right: 6vw;
}

.date-time, .date-date {
  white-space: nowrap;
}

#title, .date {
  font-size: 2vw;
}
@media (max-width: 1000px) {
  #title, .date {
    font-size: 3vw;
  }
}
@media (max-width: 500px) {
  #title, .date {
    font-size: 4vw;
  }
}
