{% set title = 'Schedules' %}
{% extends 'layout.html.j2' %}

{% block content %}

<h1>{{title}}</h1>

<div id="schedules_list"></div>

{# <ul>
  {% for schedule in schedules %}
    <li><a href="/v1/schedules/{{schedule.scheduleId}}.html">{{schedule.scheduleName}}</a></li>
  {% else %}
    <li>Loading...</li>
  {% endfor %}
</ul> #}

{% endblock %}
