{% set title = 'Schedule ' + (schedule.scheduleName or 'not found') %}
{% extends 'layout.html.j2' %}

{% block content %}
{# {{ schedule | dump }} #}

<div class="schedule_root" data-id="{{ schedule.scheduleId }}"></div>

{% if schedule %}
  <div class="schedule">
      <div class="schedule_row filled_row">ON CALL</div>
      <div class="schedule_row"><a href="{{ schedule.scheduleURL }}" class="schedule_name">{{ schedule.scheduleName }}</a></div>
      <div class="schedule_row">
         <div class="user_avatar"><a href="{{ schedule.userURL }}"><img src="{{ schedule.userAvatarSized() }}"></a></div>
         <div class="user_name"><a href="{{ schedule.userURL }}">{{ schedule.userName }}</a></div>
      </div>
      <div class="schedule_row filled_row">
         <div class="date date_start">
          <span>From:</span> {{ schedule.dateStart.format('dddd, MMM DD') }}
          <span class="time">{{ schedule.dateStart.format('LT') }}</span>
        </div>
         <div class="date date_end">
          <span>To:</span>
          <span class="date_weekday">{{ schedule.dateEnd.format('dddd') }},</span>
          <span class="date_date">{{ schedule.dateEnd.format('MMM DD') }}</span>
          <span class="date_time">{{ schedule.dateEnd.format('LT') }}</span>
        </div>
      </div>
  </div>
{% else %}
  <div class="schedule not_found">
    <div class="schedule_row filled_row">ON CALL</div>
    <div class="schedule_row">
      <div class="user_avatar"><img src="https://www.gravatar.com/avatar/0?s=2048&amp;d=mp"></div>
      <div class="user_name error">No one is on call</div>
    </div>
    <div class="schedule_row filled_row"></div>
  </div>
{% endif %}

{% endblock %}
