{% set title = 'Schedule ' + (schedule.scheduleName or 'not found') %}
{% extends 'layout.html.j2' %}

{% block content %}
{# {{ schedule | dump }} #}

<div class="schedule_root" data-id="{{ schedule.scheduleId }}"></div>

{% endblock %}
