$yellow: #fecb2e;
$green: #25c151;
$textBlack: #454545;
$textWhite: white;
$borderDark: #343434;
$scheduleRowDefaultPadding: 1vw;

body {
  font-family: 'Roboto Mono', monospace;
}

.status_indicator {
  display: block;

  &:before {
    content: ' ';
    display: inline-block;
    border: 1px solid #000;
  }

  &.error:before {
    background-color: #C9404D;
    border-color: #C9404D;
    box-shadow: 0px 0px 3px 1px #C9404D;
  }

  &.warning:before {
    background-color: #FFC182;
    border-color: #FFC182;
    box-shadow: 0px 0px 3px 1px #FFC182;
  }

  &.success:before {
    background-color: #94E185;
    border-color: #94E185;
    box-shadow: 0px 0px 3px 1px #94E185;
  }
}

a {
  color: black;
  text-decoration: none;
  color: $textBlack;

  &:hover { text-decoration: underline; }
}

.schedule {
  font-size: 20px;
  border: 2px solid $green;
  width: 95%;
  color: $textBlack;
  margin: 2.5vw;

  $row_size: 2vw;
  .schedule_row {
    border-bottom: 1px solid $green;
    padding: $scheduleRowDefaultPadding;
    text-align: center;

    &.filled_row {
      background-color: $green;
      color: $textWhite;

      font-size: $row_size;
      min-height: $row_size;

      @media (max-width: 1000px) {
        font-size: $row_size + 1;
        min-height: $row_size + 1;
      }

      @media (max-width: 500px) {
        font-size: $row_size + 2;
        min-height: $row_size + 2;
      }
    }

    &.equal_spacing {
      display: flex;
      justify-content: space-around;
    }
  }

  $status_size: $row_size + 0.5;
  .status_indicator {
    float: right;

    &:before {
      width: $status_size;
      height: $status_size;
      border-radius: $status_size;

      @media (max-width: 1000px) {
        height: $status_size + 1;
        width: $status_size + 1;
        border-radius: $status_size;
      }

      @media (max-width: 500px) {
        height: $status_size + 2;
        width: $status_size + 2;
        border-radius: $status_size + 2;
      }
    }
  }

  // Header
  .schedule_name {
    font-size: 4vw;
  }

  // User data
  .user_avatar {
    margin-top: 3vw;
    margin-left: $scheduleRowDefaultPadding;

    img {
      border: 1px solid $borderDark;
      width: 20vw;
    }
  }
  .user_name {
    font-size: 10vw;
    width: 90%;
  }

  // Date block
  .date {
    // Don't break date and time
    .date_date, .date_time {
      white-space: nowrap;
    }

    $dateMargin: 6vw;
    &.date_start {
      margin-left: $dateMargin;
    }
    &.date_end {
      margin-right: $dateMargin;
    }
  }

}

// Not found
.schedule.not_found {
  border-color: $yellow;

  .schedule_row {
    border-color: $yellow;
    &.filled_row { background-color: $yellow; }
  }

  .error {
    padding: $scheduleRowDefaultPadding;
  }

  .user_avatar img {
    border-color: $yellow;
  }
}
