$yellow: #fecb2e;
$green: #25c151;
$textBlack: #454545;
$textWhite: white;
$borderDark: #343434;
$scheduleRowDefaultPadding: 1vw;

body {
  font-family: 'Roboto Mono', monospace;
}

a {
  color: black;
  text-decoration: none;
  color: $textBlack;

  &:hover { text-decoration: underline; }
}

.schedule {
  font-size: 20px;
  border: 2px solid $green;
  width: 95%;
  color: $textBlack;
  margin: 2.5vw;

  .schedule_row {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid $green;
    padding: $scheduleRowDefaultPadding;
    text-align: center;

    &.filled_row {
      background-color: $green;
      color: $textWhite;

      $row_size: 2vw;
      font-size: $row_size;
      min-height: $row_size;

      @media (max-width: 1000px) {
        font-size: $row_size + 1;
        min-height: $row_size + 1;
      }

      @media (max-width: 500px) {
        font-size: $row_size + 2;
        min-height: $row_size + 2;
      }
    }
  }

  // Header
  .schedule_name {
    font-size: 4vw;
  }

  // User data
  .user_avatar {
    margin-top: 3vw;
    margin-left: $scheduleRowDefaultPadding;

    img {
      border: 1px solid $borderDark;
      width: 20vw;
    }
  }
  .user_name {
    font-size: 10vw;
    width: 90%;
  }

  // Date block
  .date {
    // Don't break date and time
    .date_date, .date_time {
      white-space: nowrap;
    }

    $dateMargin: 6vw;
    &.date_start {
      margin-left: $dateMargin;
    }
    &.date_end {
      margin-right: $dateMargin;
    }
  }

}

// Not found
.schedule.not_found {
  border-color: $yellow;

  .schedule_row {
    border-color: $yellow;
    &.filled_row { background-color: $yellow; }
  }

  .error {
    padding: $scheduleRowDefaultPadding;
  }

  .user_avatar img {
    border-color: $yellow;
  }
}
