// Variables
$yellow: #fecb2e;
$red: #eb364b;
$green: #25c151;
$textBlack: #454545;
$textWhite: white;
$textGrey: #d8d9da;
$borderDark: #343434;
$scheduleRowDefaultPadding: 1vw;

// Reconsider?
$statusError: #C9404D;
$statusWarning: #FFC182;
$statusSuccess: #94E185;

// Animation
@keyframes fadeIn {
  from { opacity: 0; }
}

// Styles
body {
  font-family: 'Roboto Mono', monospace;
  margin: 8px;
}

.status_indicator {
  display: block;

  &.blink-slow {
    animation: fadeIn 1s infinite alternate;
  }

  &.blink-fast {
    animation: fadeIn 0.5s infinite alternate;
  }

  &:before {
    content: ' ';
    display: inline-block;
    border: 1px solid #000;
  }

  @mixin status($color) {
    background-color: $color;
    border-color: $color;
    box-shadow: 0px 0px 3px 1px $color;
  }
  &.error:before { @include status($statusError); }
  &.warning:before { @include status($statusWarning); }
  &.success:before { @include status($statusSuccess); }
}

a {
  color: black;
  text-decoration: none;
  color: $textBlack;

  &:hover { text-decoration: underline; }
}

.schedule {
  font-size: 20px;
  border: 2px solid $green;
  width: 95%;
  color: $textBlack;
  margin: 2.5vw;

  $row_size: 2vw;
  .schedule_row {
    border-bottom: 1px solid $green;
    padding: $scheduleRowDefaultPadding;
    text-align: center;

    &.filled_row {
      background-color: $green;
      color: $textWhite;

      font-size: $row_size;
      min-height: $row_size;

      a {
        color: $textWhite;
      }

      @media (max-width: 1000px) {
        font-size: $row_size + 1;
        min-height: $row_size + 1;
      }

      @media (max-width: 500px) {
        font-size: $row_size + 2;
        min-height: $row_size + 2;
      }
    }

    &.equal_spacing {
      display: flex;
      justify-content: space-around;
    }
  }

  @mixin statusSize($size) {
    width: $size;
    height: $size;
    border-radius: $size;
  }
  .status_indicator {
    float: right;
    margin-top: 0.5;

    &:before {
      $status_size: $row_size - 0.5;
      @include statusSize($status_size);

      @media (max-width: 1000px) {
        @include statusSize($status_size + 1);
      }
      @media (max-width: 500px) {
        @include statusSize($status_size + 2);
      }
    }
  }

  // Header
  .schedule_name {
    font-size: 4vw;
  }

  // User data
  .user_avatar {
    margin-top: 3vw;
    margin-left: $scheduleRowDefaultPadding;

    img {
      border: 1px solid $borderDark;
      width: 20vw;
    }
  }
  .user_name {
    font-size: 10vw;
    width: 90%;
  }

  // Date block
  .date {
    // Don't break date and time
    .date_date, .date_time {
      white-space: nowrap;
    }

    $dateMargin: 6vw;
    &.date_start {
      margin-left: $dateMargin;
    }
    &.date_end {
      margin-right: $dateMargin;
    }
  }
}

// Schedule states
@mixin schedule_state($color) {
  border-color: $color;
  .schedule_row {
    border-color: $color;
    &.filled_row { background-color: $color; }
  }
  .user_name.error {
    padding: $scheduleRowDefaultPadding;
  }
  .user_avatar img {
    border-color: $color;
  }
}
.schedule.state_not_found { @include schedule_state($yellow); }
.schedule.state_active_incident { @include schedule_state($red); }

.theme-grafana {
  a { color: $textGrey; }
  &.filled_row { color: $textGrey; }
  .schedule { margin: 0; width: 98%; }
}

.schedule.aprilfools {
  background-image: url("http://www.wildbillssodafranchise.com/wp-content/uploads/2014/05/cool-simple-backgrounds.jpg");
  background-size: 100%;

  .schedule_name, .user_name { font-family: 'Fredericka the Great', cursive;}
  .status_row { font-family: 'Rye', cursive;}

  .schedule_name {
    &::before {
      content: "FOR ";
    }
  }

  .huge_reward {
    font-family: 'Rye', cursive;
    font-size: 3vw;
    color: #C9404D;
    position: absolute;
    margin-top: 4%;
    margin-left: -30%;
    transform: rotate(20deg);
  }

  .title {
    font-family: 'Rye', cursive;
    color: #C9404D;
    font-size: 46px;
    text-shadow: 0 0 3px #f0bc87;
  }

  .filled_row {
    background-image: url('https://www.wildtextures.com/wp-content/uploads/wildtextures_seamless-green-wooden-facade-480x367.jpg');
    background-size: 32% 400%;
  }
}
